.app-container {
  height: 100%;
  display: flex;
  justify-content: center;
  }

  #todo_container {
    background: rgb(87, 160, 170);
  }


.chart {
  width: 800px
  /* width: 100% */
}


.cardExtract {
  margin-left: 18%;      
  margin-right: 18%;
  width: 80%;
  /* margin-top: 0.25rem !important; */
  }