.App {
    font-family: sans-serif;
    /* text-align: center; */

    display: flex;
    justify-content: center;
  }
  
  .nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding: 0 20px;
    background: #6532CB;
  }
  
  .nav > * {
    padding-right: 20px;
  }
  
  .nav .nav-logo {
    color: #99CC00;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .main {
    padding: 0 20px;
  }
  
  
  table {
    text-align: left;
    width: 100%;
  }
  
  td,
  th {
    padding: 5px;
  }
  
  td {
    border-top: 1px solid black;
  }
  